body{
  font-family: 'Dancing Script';
  background-color  : #02010a;
}

#cabecera{
  background-color: #5b7989;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 7px;
  text-shadow: 2px 2px 5px #02010a;
}

.p1{
  font-size: 40px;
  text-shadow: 2px , #02010a;

}

.menu{
  text-color: white;

}



a{
color: white;
text-decoration: none;
font-size: 20px;
}

#imagenCentral{
  background-color: #82c3a6;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#torre{
  margin:10px auto;
	display:block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
  height: 50%;
  box-shadow: 2px 2px 5px #02010a;

}

.imagenSecundaria {
display: flex;
flex-direction: row;
flex-wrap: wrap;
background-color: #d5c75f;
border: 1px;
justify-content: space-around;
align-items: center;
}

#vaticano{
  margin: 10px;
  width: 35%;
  height: 35%;
  order: 1;
box-shadow: 2px 2px 5px #02010a;
}
#vaticano:hover{
  transform: rotate(10deg);
  transition-duration: 1.5s;
  box-shadow: 2px 2px 5px #82c3a6;
  border: 2px;
}
#papa{
  margin: 10px;
  width: 35%;
  height: 35%;
  order: 2;
  box-shadow: 2px 2px 5px #02010a;
}

#papa:hover{
  transform: translate(5px,-20px);
  transition-duration: 1.5s;
  box-shadow: 2px 2px 5px #82c3a6;
  border: 2px;
}



.footer{
  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer1{
  order: 1;
}

.footer2{
order: 2;
}

.footer3{
order: 3;
}

.footer4{
order: 4;
}

.parrafoFooter{
  font-size: 25px;
}

.retratosImagenes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #d5c75f;
}

#papa1{
  order: 1;
  width: 30%;
  margin: 10px;
  filter: blur(10px);
}

#papa2{
  order: 2;
  width: 30%;
  margin: 10px;
  filter: grayscale(100%);
}

#papa3{
  order: 3;
  width: 30%;
  margin: 10px;
  filter: sepia(90%);
}

#papa4{
  order: 4;
  width: 30%;
  margin: 10px;
  filter: grayscale(100%);
}

#papa5{
  order: 5;
  width: 30%;
  margin: 10px;
}

#papa6{
  order: 6;
  width: 30%;
  margin: 10px;
  filter: grayscale(100%);
}


.paisajesImagenes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #d5c75f;
}

#vaticano1{
  order: 1;
  width: 30%;
  margin: 10px;
  filter: blur(10px);
}

#vaticano2{
  order: 2;
  width: 30%;
  margin: 10px;
  filter: grayscale(100%);
}

#vaticano3{
  order: 3;
  width: 30%;
  margin: 10px;
  filter: sepia(90%);
}

#vaticano4{
  order: 4;
  width: 30%;
  margin: 10px;
  filter: grayscale(100%);
}

#vaticano5{
  order: 5;
  width: 30%;
  margin: 10px;
}

#vaticano6{
  order: 6;
  width: 30%;
  margin: 10px;
  filter: grayscale(100%);
}

@media (max-width:780px){
  #cabecera{
    width: 100%;
  }

  .p1{
    padding-top: 10px;
    text-align: center;
    font-size:75%;
  }

  .menu{
    text-align: center;
  }

  a{
    font-size: 5%;
  }

  .footer{
    width: 100%;
  }

  #imagenCentral{
    width: 100%;
  }

  .imagenSecundaria{
    width: 100%;
  }

  #papa{
    width: 70%;
  }

  #vaticano{
    width: 70%;
  }


  #papa1{
    width: 70%;
  }

  #papa2{
    width: 70%;
  }

  #papa3{
    width: 70%;
  }

  #papa4{
    width: 70%;
  }

  #papa5{
    width: 70%;
  }

  #papa6{
    width: 70%;
  }

  #vaticano1{
    width: 70%;
  }

  #vaticano2{
    width: 70%;
  }

  #vaticano3{
    width: 70%;
  }

  #vaticano4{
    width: 70%;
  }

  #vaticano5{
    width: 70%;
  }

  #vaticano6{
    width: 70%;
  }

  .footer1{
    text-align: center;
    font-size: 50%;
  }

  .footer2{
    text-align: center;
    font-size: 50%;
  }

  .footer3{
    text-align: center;
    font-size: 50%;
  }

  .footer4{
    text-align: center;
    font-size: 50%;
  }


  .parrafoFooter{
    font-size: 50%;
  }

}

@media (max-width: 1080px){

}
